@import 'colors';

body {
  background: black;
  color: lightgray;
  display: flex;
  flex-flow: column nowrap;
}

.logo {
  color: $actionItemColor;
  margin: 0 0 20px 0;
  text-transform: lowercase;
}

.content-container {
  flex: 5 1 auto;
  background: white;
  color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.content__empty {
  font-size: 2em;
}

footer {
  height: 70px;
  display: flex;
}

.search-panel {
  flex: 0 1 auto;
  background: $black;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin: 10px 0;

  &__container {
    flex: 0 1 80%;
    display: flex;
    flex-direction: column;
  }

  &__form label,
  &__form input {
    display: block;
    width: 100%;
    margin: 5px 0;
  }

  &__form input {
    background: black;
    color: white;
    border: none;
    border-bottom: 2px solid $actionItemColor;
    padding: 5px;
  }

  &__action-elements {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;

    div {
      align-self: center;
    }
  }

  &__button-filter {
    box-sizing: border-box;
    background: $defaultItemColor;
    color: white;
    text-transform: uppercase;
    padding: 5px 15px;
    margin: 0 3px;
    border-radius: 3px;
    border: 2px solid $defaultItemColor;

    &:hover,
    &:active {
      background: $actionItemColor;
      cursor: pointer;
      border: 2px solid yellow;
    }

    &:hover {
      background: $actionItemColor;
    }
  }

  &__button-search {
    box-sizing: border-box;
    background: $actionItemColor;
    color: white;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 10px 30px;
    cursor: pointer;
    border: 2px solid $actionItemColor;

    &:focus {
      border: 2px solid yellow;
    }
  }
}

.film-panel {
  background: black;
  margin: 10px 0;
  color: white;

  figure {
    display: flex;

    &_poster {
      flex: 1 1 auto;
    }

    figcaption {
      flex: 3 1 auto;
      box-sizing: border-box;
      padding: 10px;

      h1 {
        color: $actionItemColor;
        margin: 5px 0;
      }
    }
  }

  &__button-search {
    float: right;
    box-sizing: border-box;
    background: $actionItemColor;
    color: white;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 10px 30px;
    cursor: pointer;
    border: 2px solid $actionItemColor;
  }
}

.content-item {
  height: 350px;
  width: 200px;
  overflow: hidden;

  img {
    width: 100%;
  }

  &__description {
    position: relative;
    width: 100%;

    & > * {
      display: block;
    }
  }

  &_title {
    text-transform: uppercase;
    white-space: nowrap;
    width: 75%;
    overflow: hidden;
  }

  &_genre {
    color: grey;
    font-size: 0.7em;
  }

  &_year {
    float: right;
    top: 0;
    color: grey;
    font-size: 0.7em;
    border: 1px solid grey;
    border-radius: 2px;
    padding: 2px;
  }
}
