@import './colors';

body {
  background: black;
  color: lightgray;
  display: flex;
  flex-flow: column nowrap;
}

.logo {
  color: $actionItemColor;
  margin: 0 0 20px 0;
  text-transform: lowercase;

  &__container {
    display: flex;
    justify-content: center;
  }

  &__inner {
    flex: 0 1 80%;
    margin: 10px 0;
  }
}
