@import 'colors';

.search-panel {
  flex: 0 1 auto;
  background: $black;
  display: flex;
  justify-content: center;
  text-transform: uppercase;

  &__container {
    flex: 0 1 80%;
    display: flex;
    flex-direction: column;
  }
  
  &__form {

    label, input {
      display: block;
      width: 100%;
      margin: 5px 0;
    }

    input {
      background: black;
      color: white;
      border: none;
      border-bottom: 2px solid $actionItemColor;
      padding: 5px;
    }
}

  &__filter {
    padding: 10px 0;
  }
  
  &__button-filter {
    box-sizing: border-box;
    background: $defaultItemColor;
    color: white;
    text-transform: uppercase;
    padding: 5px 15px;
    margin: 0 3px;
    border-radius: 3px;
    border: 2px solid $defaultItemColor;
    
    &:hover,
    &:active {
    background: $actionItemColor;
    cursor: pointer;
    border: 2px solid yellow;
    }

    &_active {
      background: $actionItemColor;
      border: 2px solid $actionItemColor;
      
      &:hover,
      &:focus {
        cursor: not-allowed;
        border: 2px solid gray;
      }
    }

  }
  
  &__button-search {
    float: right;
    box-sizing: border-box;
    background: $actionItemColor;
    color: white;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 5px 30px;
    cursor: pointer;
    border: 2px solid $actionItemColor;
  
    &:focus {
    border: 2px solid yellow;
    }
  }

  &__sorting {
    text-transform: capitalize;
    padding: 10px 0;

    .sorting__buttons {
      float: right;

      button {
        background-color: transparent;
        border: none;
        color: $actionItemColor;
        margin-left: 5px;

        &:disabled {
          color: $defaultItemColor;
        }

        &:focus,
        &:hover {
          background-color: $themeColor-Light;
        }
      }
    }
  }
  }